{{ define "main" }}
  <nav>
    <a href="{{ "" | relURL }}">&larr; Home</a>
  </nav>

  <header>
    <h1>{{ .Title }}</h1>
  </header>

  {{ with .Content }}<section>{{ . }}</section>{{ end }}

  {{ range .Pages.ByDate.Reverse }}
    <article>
      <header>
        <a href="{{ .RelPermalink }}">
          <h2>{{ .Title }}</h2>
        </a>
        <span>{{ .Date.Format "2006-01-02" }}</span>
      </header>
      {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
    </article>
  {{ end }}
{{ end }}
