{{ define "og-description" }}{{ .Params.tagline }}{{ end }}

{{ define "main" }}
  <article class="home">
    <img src="{{ .Params.image }}" alt="{{ .Params.image_alt }}" width="150" height="150">
    <header>
      <h1>{{ .Params.author }}</h1>
      <h2>{{ .Params.tagline }}</h2>
    </header>

    {{ with .Content }}<section>{{ . }}</section>{{ end }}

    <nav>
      {{ range .Params.links }}
        <a href="{{ .href }}" class="link" style="{{ .style | safeCSS }}">
          {{ partial "icon" .icon }}
          <span>{{ .text }}</span>
        </a>
      {{ end }}
    </nav>
  </article>
{{ end }}
